/* {
  border-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
background-color: lightgrey;
font-family: verdana, sans-serif;
font-size: 120%;
color: purple;
border: 5px solid black
}

h1 {
  background-color: indigo;
  color: yellow;
}
